body{
    padding: 0;
    margin: 0;
}
.hold-page{
    /* float: left; */
    width: 100%;
}
/* head */
.name{
    /* float: left; */
    /* width: 25%; */
    /* text-align: center; */
    padding: 20px 0px 0px;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    cursor: pointer;
}
.name a{
    text-decoration: none;
    color: black;
}
.sub-menu a{
    text-decoration: none;
    color: black;
}
.menu{
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-align: justify; */
    /* letter-spacing: 2px; */
}
.menu:hover{
    color: black;
    text-decoration:underline;
    /* color: white;
    background-color: black;
    border-radius: 5px;
    border: solid 1px white;
    transition: 0.1s; */
}
.product{
    float: left;
    width: 90%;
    margin: auto 5%;
}
.product .font{
    font-weight: bold;
    font-size: 26px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 8px;
    border-radius: 3px;
    border-bottom: solid 2px black;
}
.product-list{
    width: 100%;
    /* float: left; */
}
.product-picture{
    /* padding: 5px 0px;
    width: 19%;
    display: block;
    float: left;
    text-align: center;
    margin: 20px 0.5%;
    height: 420px; */
    /* padding-right: 50px; */
    /* height: 480px; */
    padding: 25px 0px;
    text-align: center;
}
.product-picture:hover{
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.459);
    border-radius: 15px;
    transition: 0.30s;
    transform: translateY(5px);
}
.product-list a{
    text-decoration: none;
    color: black;
}
.product-font{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}
.value{
    margin: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.end{
    /* float: left; */
    /* width: 100%; */
    /* height: 120px; */
    width: 100.75%;
    background-color: black;
    color: white;
}
.footer{
    /* padding-left: 0%; */
    text-align: justify;
    /* width: 20%; */
    /* margin: 0px 20px; */
    /* float: left; */
    padding-top: 10px;
}
.contact-font{
    /* text-align: center; */
    /* background-color: brown; */
    margin: 10px 0px;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-detail{
    /* text-align: center; */
    /* background-color: brown; */
    margin: 10px 0px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}